body {
    margin: 0;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.6;
    height: auto;
}

header {
    width: 100%;
    height: 4%;
}

.header {
    width: 80%;
    margin: 0 auto;
    padding: 12px 0;
}

a {
    text-decoration: none;
}

header h2 {
    color: #5a5454;
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.webdev {
    float: left;
    text-decoration: none;
}

header ul {
    float: right;
    padding-top: 10px;
    text-transform: uppercase;
}


header li {
    display: inline-block;
    font-size: 0.9rem;
    padding: 10px 20px;
    font-weight: bold;
}

    header li a {
        color: black;
        text-decoration: none;
    }

header h1 {
    color: #5698f2;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    line-height: 1;
}

a h2 {
    color: black;
}

header ul {
    float: right;
    padding-top: 10px;
}

ul {
    margin-top: 0;
    margin-bottom: 0px;
    display: block;
    overflow: auto;
    padding-left: 0;
}

.content {
    clear: both;
    width: 100%;
    height: auto;
    background-color: #5698f2;
    text-align: center;
    padding-bottom: 50px;
    color: white;
}

    .content img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

.image {
    width: 350px;
    float: left;
}

.references a{
    color: black;
}
.references a:hover{
    color:white;
}

.description {
    padding: 50px;
    margin-left: 0px;
    text-align: justify;
}

.welcome {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 20px;
    color: white;
    font-family: sans-serif;
}

    .welcome h1 {
        margin-bottom: 0px;
    }

    .welcome h6 {
        margin-top: 0px;
    }

a:hover {
    color: #5698f2;
}

.experiment, .project, .contact {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    clear: both;
}

.experimentDescription {
    float: left;
    width: 60%;
    padding-left: 30px;
    text-align: justify;
    padding-bottom: 40px;
}

    .experimentDescription ul, .projectDescription ul {
        padding-left: 30px;
        text-align: left;
    }

    /*.experimentDescription ul li a{
        color:black;
    }*/
    .experimentDescription ul li a:hover{
        color:#5698f2;
    }
.experimentImage img, .projectImage img, .experimentImage1 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #5698f2;
    padding: 10px;
}

.project {
    clear: both;
    background-color: #5698f2;
    color: white;
    width: 100%;
    height: auto;
}

.projectImage {
    width: 250px;
    height: 400px;
    text-align: left;
    padding-left: 30px;
    float: left;
}

.projectDescription {
    padding: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

.projectDescription ul{
    margin-top:20px;
}

.projectDescription ul li a{
    color:white;
}

.contact{
    padding-top:0;
}

.socialImages {
    text-align: center;
}

    .socialImages img {
        padding-right: 30px;
    }

.socialLinks {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

    .socialLinks img {
        width: 80px;
        height: 80px;
    }

.other_links {
    clear: both;
    width: 100%;
    height: auto;
    position: absolute;
    background-color: #5698f2;
    text-align: center;
    padding-top: 20px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 12px 0;
}

.statistics, .search, .view, .others {
    padding: 20px;
    float: left;
    width: 20%;
}

    .statistics ul a, .search ul a, .view ul a, .others ul a, .footer {
        color: white;
        font-family: sans-serif;
        text-align: center;
    }
    .statistics ul a:hover, .search ul a:hover, .view ul a:hover, .others ul a:hover{
        color:black;
    }

.footer {
    clear: both;
    width: 80%;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.experimentImage1 {
    display: none;
}

.list-style-remove{
    list-style-type:none;
}

@media screen and (max-width: 1150px) {
    .image {
        width: 100%;
        margin-bottom: 50px;
    }

    .content {
        padding-bottom: 0px;
    }

    .description {
        padding: 30px;
        margin-left: 0px;
        text-align: justify;
    }
}

@media screen and (max-width:1018px) {
    .statistics, .search, .view, .others {
        width: 15%;
    }
}

@media screen and (max-width:800px) {
    .footer {
        font-size: 0.8em;
    }

    .statistics, .search, .view, .others {
        padding: 10px;
        float: left;
        width: 41%;
    }

    .experimentDescription, .projectImage {
        float: none;
    }

    .experimentImage1 {
        display: block;
    }

    .experimentImage {
        display: none;
    }

    .experimentDescription {
        text-align: justify;
        width: 80%;
        margin: 0 auto;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .projectImage {
        height: 220px;
        width: 80%;
        margin: 0 auto;
        padding: 12px 0;
        text-align: center;
    }

   .webdev {
        text-align:center;
        width:100%;
        text-decoration: none;
    }

    header ul{
       text-align:center;
       width:100%;
    }
}

@media screen and (max-width:570px){
    header ul li{
       text-align:center;
       width:80%;
       margin:0;
       padding:0;
       background-color:white;
       border:1px solid #5698f2;
       margin-bottom:10px;
    }
}

@media screen and (max-width:500px){
    .socialLinks img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width:355px) {
    .content img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .welcome h1{
        font-size:x-large;
    }
}

@media screen and (max-width:355px){
    .socialLinks img {
        width: 30px;
        height: 30px;
    }
}
