body {
    background-image: url("../../../images/week2/background-1.jpg");
}

h1 {
    color: teal;
    font-size: 18px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.heading {
    padding-top: 15px;
    text-align: center;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    padding-bottom: 3px;
    color: crimson;
}

.heading_line {
    width: 100%;
    border: 1px solid darkslategrey;
}

.sub_heading {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: darkblue;
    float: left;
    font-size: 20px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.examples {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 7px;
    color: teal;
    float: left;
    font-size: 18px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    clear: both;
}

.home {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 14px;
}

.sub_heading_article {
    clear: both;
    margin-left: 20px;
    margin-right: 50px;
    text-align: justify;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

.article {
    clear: both;
    margin-left: 30px;
    margin-right: 50px;
    text-align: justify;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    font-size: 15px;
    margin-bottom: 10px;
}

a {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: blue;
    font-size: 14px;
}

    a:hover {
        color: red;
    }

.body_div {
    padding: 30px;
}


p {
    text-align: justify;
}

#smiley {
    float: left;
    border: 1px solid black;
    width: 400px;
}

@media screen and (max-width: 920px) {
    #smiley {
        width: 380px;
    }
}

@media screen and (max-width: 820px) {
    #smiley {
        width: 360px;
    }
}

@media screen and (max-width: 720px) {
    #smiley {
        width: 340px;
    }
}

@media screen and (max-width: 620px) {
    #smiley {
        width: 320px;
    }
}

@media screen and (max-width: 520px) {
    #smiley {
        width: 300px;
    }
}

@media screen and (max-width: 420px) {
    #smiley {
        width: 280px;
    }
}

@media screen and (max-width: 350px) {
    #smiley {
        display: none;
    }
}

.footer_div {
    padding-top: 15px;
    clear: both;
    text-align: center;
}

.code_content_1,.code_content_2
{
    clear:both;
    border: 1px solid red;
    border-radius: 5px;
    background-color: lightyellow;
    padding-left:5px;
    padding-top:5px;
    margin-left:30px;
    
}

.code_content_1{
    width: 680px;
    height: 160px;
}

.code_content_2{
    width: 680px;
    height: 250px;
}

.code{
    padding-bottom:4px;
    font-size:12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}