#title{
    width:60%;
}

h1{
    text-align:center;
    color:#FF0040;
}

h3{
    color:#298A08;
}

.code_wrapper {    
    border: 1px solid red;
    border-radius: 5px;
    background-color: lightyellow;
    width: 560px;
    height: 360px;
}

.footer_div {
    padding-top: 15px;
    
    text-align: center;
}

pre{
    margin-top:10px;
    width:33%;
    color:#c7254e;
    background-color:#f9f2f4;
}

hr.blueLine{
    border-color:#81DAF5;
}

.height_div{
    height:200px;
}

#star{
    font-size:18px;
}

.green{
    color:green;
}

.red{
    color:red;
}