body {
    background-image: url("../../../images/week2/background-1.jpg");
}

.heading {
    padding-top: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    padding-bottom: 3px;
    color: crimson;
}

.heading_line {
    width: 100%;
    border: 1px solid darkslategrey;
}

.sub_heading {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: darkblue;
    float: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.examples {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 7px;
    color: teal;
    float: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    clear: both;
}

.home {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 14px;
}

.sub_heading_article {
    clear: both;
    margin-left: 20px;
    margin-right: 50px;
    text-align: justify;
    font-family: font-size:15px;
    margin-bottom: 10px;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: blue;
    font-size: 12px;
}

    a:hover {
        color: red;
    }

.code_content_1 {
    clear: both;
    border: 1px solid red;
    border-radius: 5px;
    background-color: lightyellow;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 280px;
    height: 160px;
}

.code {
    padding-bottom: 4px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer_div {
    padding-top: 15px;
    clear: both;
    text-align: center;
}

.left-width {
    margin-left: 20px;
}

.example_heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    color: teal;
    font-size: 17px;
    clear: both;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
    border: 1px dashed black;
}

    #selectable li {
        margin: 10px;
        padding: 10px;
        font-size: 14px;
        height: 15px;
        border: 1px solid lightblue;
        background-color: beige;
    }

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
    border: 1px dashed black;
}

    #sortable li {
        margin: 10px;
        padding: 10px;
        font-size: 14px;
        height: 15px;
        border: 1px solid lightblue;
        background-color: beige;
    }
