.body_main {
    width: 100%;
    height: auto;
}

.header_div {
    background-color: white;
    width: 100%;
    height: 140px;
}

.logo_div {
    width: 15%;
    height: 140px;
    float: left;
    background-image: url(../../../images/week10/logo_teal.PNG);
    background-repeat: no-repeat;
    background-position: center;
    margin-left:11%;
}

.navigation_div{
    width: 100%;
    height: 140px;
}

.navigation {
    display: block;
    padding-top: 4%;
    list-style: none;
    margin-right: 10%;
    float: right;
}

    .navigation li {
        display: inline-block;
        float: left;
        margin-top:5px;
        margin-left:10px;
        margin-right:20px;
        padding: 0 30px;
        padding-top:8px;
        height: 36px;
        font-size: 0.9em;
        font-weight: 700;
        text-transform: uppercase;
        border:1px solid #5cc1af;
        border-radius:5px;
    }

        .navigation li a {
            color: rgba(92, 193, 175, 0.77);
            text-decoration:none;
        }
        .navigation li a:hover{
            color: #5cc1af;            
        }      

    #title{
    width:60%;
}


.footer_div {
    padding-top: 15px;
    
    text-align: center;
}

pre{
    margin-top:10px;
    width:50%;
    color:#c7254e;
    background-color:#f9f2f4;
}

.div-color{
    width:100%;
    height:3px;
    background-color: #5cc1af;
}

.height{
    margin-top:2%;
}