#title{
    width:60%;
}

.table{
    margin-top:50px;
}

h1{
    text-align:center;
}

h3{
    color:teal;
}

.code_wrapper {    
    border: 1px solid red;
    border-radius: 5px;
    background-color: lightyellow;
    width: 560px;
    height: 360px;
}

.footer_div {
    padding-top: 15px;
    clear: both;
    text-align: center;
}

pre{
    margin-top:10px;
    width:40%;
    height:40%;
    color:#c7254e;
    background-color:#f9f2f4;
}